.wrapper_audio {
  margin: 20px auto;
  max-width: 700px;
}
.page--audiogame {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.audio__answer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.game-tittle {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.game-subtitle {
  font-size: 2rem;
  font-weight: normal;
  padding: 0 10px;
}
.volume-up-icon {
  cursor: pointer;
}
.result--page {
  display: flex;
  justify-content: space-around;
  padding-top: 70px ;
}
.page--audiogame-image {
  border: 2px gray solid;
  border-radius: 10px;
  height: 200px;
  width:100%;
  max-width: 300px;
}
.page--audiogame-text {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}
.page--audiogame-transcription {
  margin-left: 5px;
  color: burlywood;
}
.game__answer_accept {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and ( max-width: 600px) {
 .wrapper_audio {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 350px;
 }
 .page--audiogame-card {
   display: block;
 }
 .page--audiogame-image {
   height: 175px;
 }
 .page--audiogame-text {
   padding: 0;
 }
 .game__answer button {
   font-size: 0.7rem;
 }
 .audio__answer {
  margin-top: 20px;
 }
 .game__answer_accept {
   margin-top: 20px;
 }
}