.wrapper__audiogame {
  margin: 20px auto;
  max-width: 570px;
}
.audiogame__card {
  display: flex;
}
.audio__answer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.game-tittle {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.game-subtitle {
  font-size: 2rem;
  font-weight: normal;
  padding: 0 10px;
}
.volume-up-icon {
  cursor: pointer;
}

.audiogame_image {
  border: 2px gray solid;
  border-radius: 10px;
  height: 200px;
  width:100%;
  max-width: 300px;
}
.audiogame_text {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}
.audiogame_transcription {
  margin-left: 5px;
  color: burlywood;
}
.audiogame_accept {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and ( max-width: 600px) {
 .wrapper__audiogame {
   max-width: 350px;
 }
 .audiogame__card {
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
 }
 .audiogame_image {
   height: 175px;
 }
 .audiogame_text {
   padding: 0;
 }
 .audio__answer button {
   font-size: 0.7rem;
 }
 .audio__answer {
  margin-top: 20px;
 }
 .audiogame_accept {
   margin-top: 20px;
 }
}