.footer{
  background-color: #1976d2;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.git_link {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.footer_link {
  color: aliceblue;
  margin: 0 15px;
}

.footer_link:hover {
  font-weight: 800;
}

.block_link {
  display: flex;
  align-items: center;
}
