.games {
  height: calc(100vh - 140px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(141, 198, 255, 0.2);
}
.container_card {
  display: flex;
  max-width: 800px;
  width: 100%;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  font-size: 4rem;
  border-radius: 20px;
  margin: 15px;
}

.card_color1 {
  background-color: rgb(174, 74, 132, 0.5);
}

.card_color2 {
  background-color: rgb(87, 176, 57, 0.3);
}
@media screen and (max-width: 900px) {
  .cover {
    font-size: 3rem;
    height: 150px;
  }
}
@media screen and (max-width: 660px) {
  .cover {
    font-size: 2rem;
    height: 100px;
  }
}
